.delete-button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  &__icon {
    width: 24px;
    height: 24px;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}